{{template "header"}}  <!-- 引入头模板内容 -->
<title>管理员首页</title>
</head>


{{template "body_header"}} <!-- 引入body头模板内容-->


<!-- jQuery Js -->
<script type="text/javascript" src="../static/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script type="text/javascript" src="../static/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script type="text/javascript" src="../static/js/morris/raphael-2.1.0.min.js"></script>
<script type="text/javascript" src="../static/js/morris/morris.js"></script>
<!-- Custom Js -->
<script type="text/javascript" src="../static/js/custom-scripts.js"></script>

</body>

</html>