{{template "header"}}  <!-- 引入模板内容 -->
<title>登录 工程认证教育体系课程管理系统</title>
<script src="/static/js/jquery.js"></script>
</head>

<body>

<div class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <div class="pull-left">
            <img src="../static/img/logo.png">
        </div>
    </div>
</div>

<div class="container" style="width: 500px">
    <!-- 提交登录信息的表单（从bootstrap框架上导的）-->
    <form method="POST" action="/login">
        {{if .IsAdmin}}
            <p style="text-align: center;font-size:30px;">管理员登录</p>
        {{else}}
            <p style="text-align: center;font-size:30px;">教师登录</p>
        {{end}}
        <div class="form-group">
            <label>Account</label>
            <input id="unumber" class="form-control" placeholder="Enter account" name="unumber">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input id="upwd" type="password" class="form-control" placeholder="Password" name="upwd">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="autoLogin"> 自动登录
            </label>
        </div>
        <!-- 当onclick的值为false时表单就不会提交 -->
        <button type="button" class="btn btn-default" onclick="checkInput();">登录</button>
        <button class="btn btn-default" onclick="return backToHome();">返回</button>
    </form>

    <!-- 检查账号密码是否为空的JS代码-->
    <script type="text/javascript">
        function checkInput(){
            var number = document.getElementById("unumber");
            if(number.value.length == 0) {
                alert("请输入账号");
                return;
            }

            var pwd = document.getElementById("upwd");
            if(pwd.value.length == 0) {
                alert("请输入密码");
                return;
            }

            $.post("/login/check_account",{
                unumber:number.value,
                upwd:pwd.value
            },function(data){
                // 登录成功
                if(data.Code == 0){
                    window.location = data.Url;
                }else{
                    alert("用户名或密码错误！");
                }
            },"json");
        }

        function backToHome(){
            // 重定向到首页地址
            window.location.href = "/";

            // 返回false，是为了不让表单提交出去
            return false
        }
    </script>
</div>
</body>

</html>