{{template "header"}}  <!-- 引入头模板内容 -->
<title>管理员首页</title>
</head>
<script type="text/javascript">
    function OptionChecked(degree){
        if (degree == "学士学位") {
            document.getElementById("optionsRadios1").style.checked = "checked"
        }
        if (degree == "硕士学位") {
            document.getElementById("optionsRadios2").style.checked = "checked"
        }
    }
</script>

{{template "body_header"}} <!-- 引入body头模板内容-->


<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    修改专业基本信息
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        编辑专业基本信息
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <!-- display:none设置控件隐藏，display:block设置控件显示-->
                                {{with .Major}}
                                <form role="form" action="/admin/major_base_modify" method="POST">
                                    <p style="font-size: 30px">专业基本信息</p><br>
                                    <input type="hidden" name="mid" value="{{.Id}}">  <!-- 隐藏控件，用来给post方法传递mid -->
                                    <div class="form-group" style="width: 400px;margin-left: 100px">
                                        <label>专业号：</label>
                                        <input class="form-control" name="MajorNumber" value="{{.Number}}">
                                        <p class="help-block">例如：11223</p>
                                        <label>专业名称：</label>
                                        <input class="form-control" name="MajorName" value="{{.Name}}">
                                        <p class="help-block">例如：软件工程</p>

                                        <div class="form-group" style="width: 600px;">
                                            <div class="form-group">
                                                <label style="font-size:15px">培养目标概述：</label>
                                                <textarea class="form-control" rows="10" name="TrTOverview">{{.Overview}}</textarea>
                                            </div>

                                            <div class="form-group">
                                                <label style="font-size:15px">主干学科：</label><br>
                                                <textarea class="form-control" row="6" name="MainSubject">{{.MainSubject}}</textarea>
                                            </div>

                                            <div class="form-group">
                                                <label style="font-size:15px">修业年限：</label>
                                                <select class="form-control" style="width:200px" name="StudyYears" value="{{.StudyYears}}">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label style="font-size:15px">授予学位：</label><br>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="Degree" id="optionsRadios1" value="学士学位" checked>
                                                        学士学位
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="Degree" id="optionsRadios2" value="硕士学位">
                                                        硕士学位
                                                    </label>
                                                </div>
                                                <script>
                                                    OptionChecked({{.Degree}})
                                                </script>
                                            </div>

                                            <div class="form-group">
                                                <label style="font-size:15px">核心课程：</label><br>
                                                <textarea class="form-control" rows="4" name="CoreCourse">{{.CoreCourse}}</textarea>
                                            </div>

                                            <div class="form-group">
                                                <label style="font-size:15px">毕业要求总学分：</label><br>
                                                <input class="form-control" style="width:200px"  name="TotalCredits" value="{{.TotalCredits}}">
                                            </div>

                                            <div class="form-group">
                                                <label style="font-size:15px">理论教学总学分：</label><br>
                                                <input class="form-control" style="width:200px" name="TheoryCredits" value="{{.TheoryCredits}}">
                                            </div>

                                            <div class="form-group">
                                                <label style="font-size:15px">实践教学总学分：</label><br>
                                                <input class="form-control" style="width:200px"  name="PracticeCredits" value="{{.PracticeCredits}}">
                                            </div>

                                            <div class="form-group">
                                                <label>添加附件：</label>
                                                <input type="file">
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div style="width: 600px;margin-left: 400px">
                                        <button type="submit" class="btn btn-default">确定</button>
                                        <button type="reset" class="btn btn-default">重置</button>
                                    </div>
                                </form>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- JS Scripts-->
<!-- jQuery Js -->
<script type="text/javascript" src="../static/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script type="text/javascript" src="../static/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script type="text/javascript" src="../static/js/morris/raphael-2.1.0.min.js"></script>
<script type="text/javascript" src="../static/js/morris/morris.js"></script>
<!-- Custom Js -->
<script type="text/javascript" src="../static/js/custom-scripts.js"></script>

</body>

</html>