{{template "header"}}  <!-- 引入头模板内容 -->
<title>教师选课管理首页</title>
</head>


<body>

<div class="navbar navbar-default top-navbar navbar-inverse" style="background-color: #222222">
    <div class="container">
        <div class="pull-left">
            <img  src="../static/img/logo.png">
        </div>
    </div>
</div>

<div class="navbar-inverse navbar-side">
    <nav class="navbar-inverse" style="width:260px;">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="/admin/major_manager">专业信息管理</a>
                </li>
                <li>
                    <a href="/admin/course_manager">课程信息管理</a>
                </li>
                <li>
                    <a href="/admin/teacher_manager">教师选课管理</a>
                </li>
                <li>
                    <a href="/admin/teacher_select_course_manager">教师信息管理</a>
                </li>
                <li>
                    <a href="/admin/student_manager">学生信息管理</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    教师选课管理
                </h1>
                <a href="/admin/major">添加新选课</a>
            </div>
        </div>
    </div>
</div>

<!-- jQuery Js -->
<script type="text/javascript" src="../static/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script type="text/javascript" src="../static/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script type="text/javascript" src="../static/js/morris/raphael-2.1.0.min.js"></script>
<script type="text/javascript" src="../static/js/morris/morris.js"></script>
<!-- Custom Js -->
<script type="text/javascript" src="../static/js/custom-scripts.js"></script>

</body>

</html>