{{template "header"}}  <!-- 引入头模板内容 -->
<title>管理员首页</title>

</head>


<body style="background-color:#222222;">
<div class="navbar navbar-default top-navbar navbar-inverse" style="margin-left:0px;background-color: #222222">
    <div class="container">
        <div class="pull-left">
            <img  src="../static/img/logo.png">
        </div>
        <!-- 登录按钮（靠右） -->
        <div class="pull-right" style="margin-top: 30px">
            <ul class="nav navbar-nav"  style="margin-top: 10px">
                <li><div style="color:whitesmoke;font-size: 130%;font-family: 宋体">{{.TeacherName}} 老师</div></li>
                <li><div style="margin-left:10px;color:whitesmoke;font-size: 130%;font-family: 宋体"><a href="/login?obj=admin">退出</a></div></li>
            </ul>
        </div>
    </div>
</div>

{{template "teacher_body_header"}} <!-- 引入body头模板内容-->

<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    教师首页
                </h1>
            </div>
        </div>
    </div>
</div>


<!-- JS Scripts-->
<!-- jQuery Js -->
<script type="text/javascript" src="../static/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script type="text/javascript" src="../static/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script type="text/javascript" src="../static/js/morris/raphael-2.1.0.min.js"></script>
<script type="text/javascript" src="../static/js/morris/morris.js"></script>
<!-- Custom Js -->
<script type="text/javascript" src="../static/js/custom-scripts.js"></script>

</body>

</html>